
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind+Siliguri:wght@300;400;500;600;700&display=swap');
@import "tailwindcss";



*{

font-family: 'Hind Siliguri','Outfit', sans-serif;

}
.active{

background-color: beige;
border-color: burlywood;

}


