/* Base styles */
/* Only for Swiper/full-page sections */
#app, #app html, #app body {
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
  font-family: Helvetica, Arial, sans-serif;
  color: #fff;
}

#app {
  min-height: 100%;
}

/* Swiper container */
.swiper {
  width: 90%;       /* leave some margin on sides for PC */
  max-width: 1150px; /* optional max width */
  height: 600px;    /* fixed height for desktop */
  margin: 50px auto; /* center horizontally, some vertical spacing */
   /* optional rounded corners */
  overflow: hidden; /* crop images nicely */
}

/* Swiper slide */
.swiper-slide {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #444;
}

/* Swiper images */
.swiper-slide img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  background-color: #F0F8FF
}

/* Responsive for mobile */
@media (max-width: 768px) {
  .swiper {
    width: 100%;    /* full width on mobile */
    height: 300px;  /* shorter height for small screens */
    margin: 20px auto;
  }
}

